body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1150px){
.item1 { 
    grid-area: header;
    background-image: url("./pics/navbar.png");
    background-size: cover;
    height: 35vh;

}

.item2 { 
    grid-area: left; 
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(15, 15, 15));
    width: 30vh;
}

.item4 { 
    grid-area: right;
    background-image: linear-gradient(to left, rgb(0, 0, 0) , rgb(15, 15, 15));
    width: 30vh;
}

.item3 { 
    grid-area: main;
    height: 30vh;
    font-family: sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

.item5 { 
    grid-area: footer;
    background-image: url("./pics/footer.png");
    background-size: cover;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 35vh;;
}
}

@media screen and (max-width: 1150px){
  .item1 { 
      grid-area: header;
      background-image: url("./pics/navbar_mid.png");
      background-size: cover;
      height: 35vh;
  }
  
  .item2 { 
      grid-area: left; 
      background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(15, 15, 15));
      width: 5vh;
  }
  
  .item4 { 
      grid-area: right;
      background-image: linear-gradient(to left, rgb(0, 0, 0) , rgb(15, 15, 15));
      width: 5vh;
  }
  
  .item3 { 
      grid-area: main;
      height: 30vh;
      font-family: sans-serif;
      overflow-y: scroll;
      overflow-x: hidden;
  }
  
  .item5 { 
      grid-area: footer;
      background-image: url("./pics/footer_mid.png");
      background-size: cover;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 35vh;;
  }
  }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left main main main main right'
    'footer footer footer footer footer footer';
  height: 100vh;
  position: relative;
}

.grid-container div {
  text-align: center;
  font-size: 30px;
}